Better distinguish from RFC 7661

From Tom's email:

It seems to me that RFC 7661 already claims the scope of operation when the TCP is application-limited, so perhaps this has to more clearly state that this is an alternative to letting congestion window grow and then performing CWV when needed.  It also seems that the first sentence in section 4.4.2 of RFC 7661 is what this draft specifically addresses:

```
   TCP congestion control allows a sender to accumulate a cwnd that
   would allow it to send a burst of segments with a total size up to
   the difference between the FlightSize and cwnd. 
```

Here, we are proposing that TCP congestion control not allow a sender to accumulate an unlimited cwnd, so perhaps this needs to be clarified more directly (e.g., "one could follow RFC 7661 and other RFCs and let cwnd accumulate to large values and then later perform CWV, or one could constrain the growth of cwnd during application-limited phases, or both.  This draft proposes guidelines for bounding the growth of cwnd during application-limited intervals.")

Sorry, this shouldn't have been closed, I was too eager to close things as I thought I need to create a new repo

I'm not sure what to do - right now there is an {XXX Explain the diferences... }  part in there. Could you have another stab at this to finish it off?  We could also just leave this standing as it is for now keep this update for the next rev...  @gorryfair please make an update or tell me it's ok to proceed without it. Thanks!